<html>
    <head>
        <title>
            signin
        </title>
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <div class="container mx-auto mt-4">
            <%if(messages.error){%>
                <div class="alert alert-danger" role="alert">
                    <%- messages.error%>
                  </div>
            <%}%>
            <%if(messages.success){%>
                <div class="alert alert-success" role="alert">
                    <%- messages.success%>
                  </div>
            <%}%>
        <%=title%>
        </div>
    </body>
</html>